<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Le Wagon's Job Board", root_path, class: "navbar-brand fw-bolder" %>
    <div>

      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-link" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

</nav>
