<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Le Wagon's Job Board", root_path, class: "navbar-brand" %>
    <div>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>

</nav>
