<div class="container" style="height: calc(100vh - 56px);">
  <div class="row h-100 align-items-center">
    <div class="col text-center">
      <h1 class="h2"><strong>Le Wagon's Job Board</strong></h1>
      <p class="lead">Find your dream job in tech</p>
      <br>
    </div>
  </div>
</div>
